# Port where Proxy container is running
PORT=3000

# Einthusan.tv credentials
EINTHUSAN_EMAIL=your@email.com
EINTHUSAN_PASSWORD=yourpassword

# Roku TV (for deploy script)
ROKU_IP=192.168.1.xxx
ROKU_DEV_PASSWORD=your_roku_dev_password